.endOuter {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    /* height: calc(100vh-5em); */
    
}

.endInner {
    /* padding: 0px 1em; */
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0.5em 0px;
    height:70%;
    width: 100%;

    /* margin:auto 0px; */
    /* width: 100%; */
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align:center;
    font-weight: bold;
    font-size: large;
    width: 100%;
    line-height: 2em;

}
.yourScore{
    border-radius: 0.5em;
    /* border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em; */
    width: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 2px 4px 29px -17px rgba(0,0,0,0.72);
-moz-box-shadow: 2px 4px 29px -17px rgba(0,0,0,0.72);
box-shadow: 2px 4px 29px -17px rgba(0,0,0,0.72);
}
.cngo{
    font-size: medium;
    color: grey ;
    font-style:inherit;
    font-weight: lighter;
}
.Lead{
    border-radius: 15em;
    background-color: #A243C6;
    color: white;
    width:50%;
    padding: 1em;
    border: none;
}
.Lead:focus{
    background-color:aliceblue;
    color:black;
}
.continue1{
    margin-top: 2em;
    text-align: center;
    width: 100%;
}
.continue2{
    background-color: white;
    text-align: center;
    border-radius: 40em;
    width:50%;
    padding: 1em;
    border: none;
}
.innerResult{
    display:flex;
    /* flex-direction: column; */
    width: 95%;
    padding:0.6em;
}
.box{
    flex:1;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0.5em;
    padding-left:1em;
    margin: 0.3em;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 2px 4px 29px -17px rgba(0,0,0,0.72);
-moz-box-shadow: 2px 4px 29px -17px rgba(0,0,0,0.72);
box-shadow: 2px 4px 29px -17px rgba(0,0,0,0.72);
border-radius: 1em;
}
.firstline{
    display: flex;
    align-items: center;
}