.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.innercontainer {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.imgdiv {
    position: relative;
    animation-name: logo;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.imgclass {
    position: relative;
    height: 15rem;
    width: 15rem;
}

@keyframes logo {
    0% {
        top: -15%;
    }

    20% {
        top: 0%;
    }

    40% {
        top: -5%;
    }

    65% {
        top: 0%;
    }

    80% {
        top: -3%;
    }

    100% {
        top: 0%;
    }

}