.quizOuter {
    padding: 1em;
}

.quizbox {
    padding: 0px 1em;
    background-color: white;
    border-radius: 0.8em;
    display: flex;
    margin-top: 3em;
    flex-direction: column;


}

.quizboxhead {
    display: flex;
    padding:1em 0px;
    justify-content: space-between;
    width: 100%;

}
.qstn{
    display: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    font-size: 1.2em;
    padding:1em;
    text-align: center;
}
.options{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 100%;
    justify-content: space-between;
    padding: 1em 0;
    
}
.circle{
    position: relative;
}
.timer{
    position: relative;
    top:-33px;
    font-size: 0.8em;

}
.option{
    border-radius: 20em;
    width:100%;
    padding: 1.3em;
    margin-top: 1em;
    outline: 0px;
    -webkit-box-shadow: -2px 2px 10px -6px rgba(168,168,168,0.8);
-moz-box-shadow: -2px 2px 10px -6px rgba(168,168,168,0.8);
box-shadow: -2px 2px 10px -6px rgba(168,168,168,0.8);

    border: 0.5px solid rgba(128, 128, 128, 0.29);
    background-color: rgba(255, 255, 255, 0.386);
    letter-spacing: 0.05em;

}
.options .active{
    background-color: #A243C6;
    color:white;
}